.Contact-Container
{
    align-items: center;
    padding: 10% 5%;
    justify-content: center;

}

.Coach1-Data
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 5%;
    /* background-color: bisque; */
}

.Coach2-Data
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 10%;
    /* background-color: aqua; */
}


.Coach1-Image-Container img
{
    width: 300px;
    height: 400px;
}

.Contact-Coach1
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
}

.Contact-Coach2
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
}

.Contact-Coach1 button
{
    font-family: 'poppins';
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 1% 1%;
    cursor: pointer;
    margin-top: 5%;
    font-weight: 600;
    transition: .1s;
}

.Contact-Coach1 button:hover
{
    border: 1px solid red;
    box-shadow: 0 0 20px red;
}

.Contact-Coach2 button
{
    font-family: 'poppins';
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 1% 1%;
    cursor: pointer;
    margin-top: 5%;
    font-weight: 600;
    transition: .1s;
}

.Contact-Coach2 button:hover
{
    border: 1px solid red;
    box-shadow: 0 0 20px red;
}

.Contact-Coach1 h4
{
    color: white;
    font-family: 'poppins';
}

.Coach2-Image-Container img
{
    width: 300px;
    height: 400px;
}

.Contact-Coach2 h4
{
    color: white;
    font-family: 'poppins';
}