.Download-Container
{
    display: flex;
    align-items: center;
    padding: 10% 10%;
    flex-direction: column;
    color: white;
}

.Download-Text h1
{
    font-family: 'Zeyada';
    color: palevioletred;
    font-size: 60px;
}

.Download-Container button 
{
    cursor: pointer;
    padding: 15px 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px;
    border-image: linear-gradient(to right, red, pink, darkred);
    border-image-slice: 1;
}

/* This section is for responsiveness */
@media (max-width: 480px)
{
    .Download-Container h1
    {
        font-size: 35px;
        white-space: nowrap;
    }
    .Download-Container button
    {
        font-size: 20px;
        padding: 10px 20px;
    }
}

/* This section is for responsiveness for Tablets and small laptops */
@media (min-width: 480px) and (max-width: 1024px) 
{
  .Download-Container 
  {
    width: 260%;
    padding: 5% 30%;
  }
}