.Footer-Container
{
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    font-family: 'poppins';
}

.Footer-Container hr
{
    width: 100%;
}

.Rights-Container h4
{
    white-space: nowrap;
    margin-top: 18%;
}

.Rights-Container span
{
    font-weight: 500;
    color: rgb(176, 176, 176);
    cursor: pointer;
}

.Rights-Container span:hover
{
    text-decoration: underline;
}

.Social-And-Rights-Container
{
    display: flex;
    gap: 55%;
}

.Social-Media-Container h5
{
    font-size: 15px;
    font-weight: 500;
    margin-left: 10%;
    white-space: nowrap;
}

.Social-Media-Container .instaImg
{
    height: 50px;
    width: 45px;
    margin-left: 20%;
    cursor: pointer;
    transition: .3s;
}

.Social-Media-Container .instaImg:hover
{
    border-radius: 10px;
    background-color: rgba(174, 174, 174, 0.588);
}

.Social-Media-Container .whatsappImg
{
    height: 45px;
    margin-bottom: 1%;
    width: 55px;
    margin-left: 5%;
    cursor: pointer;
    transition: .3s;
}

.Social-Media-Container .whatsappImg:hover
{
    border-radius: 10px;
    background-color: rgba(174, 174, 174, 0.588);
}

/* This section is for responsiveness */
@media (max-width: 480px)
{
    .Footer-Container
    {
        padding: 0;
        margin: 0;
        width: 90%;
        padding-left: 5%;
    }
    .Footer-Container hr
    {
        margin-top: 15%;
    }
    .Social-Media-Container
    {
        width: 50%;    
    }
    .Social-And-Rights-Container
    {
        gap: 150px;
        margin: 0;
        margin-bottom: 10%;
        display: flex;    
    }
    .Social-Media-Container .instaImg
    {
        margin: 0;
        margin-left: 12%;
        height: 35px;
        width: 35px;
        border-radius: 10px;
        animation: blink 0.9s infinite alternate ease-in-out;
    }
    .Social-Media-Container .whatsappImg
    {
        margin: 0;
        margin-left: 10%;
        height: 33px;
        width: 43px;
        border-radius: 10px;
        animation: blink 0.9s infinite alternate ease-in-out;
    }
    @keyframes blink 
    {
        from 
        { 
            background-color: grey; 
        }
        to 
        { 
            background-color: transparent; 
        }
    }
    .Social-And-Rights-Container h5
    {
        font-size: 10px;
    }
    .Rights-Container h4
    {
        white-space: wrap;
        font-size: 10px;
    }
}

/* This section is for responsiveness for Tablets and small laptops */
@media (min-width: 480px) and (max-width: 1024px) 
{
  .Footer-Container 
  {
    width: 260%;
    padding: 5% 30%;
  }
}