.Footer-Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'poppins';
}

.Footer-Container h4
{
    font-weight: 500;
    color: rgb(181, 179, 179);
}

.Footer-Container span
{
    color: white;
    font-weight: 600;
}

.Footer-Container span:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.Footer-Container hr
{
    width: 90%;
}