/* Import your font (optional) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Header Container Styles */
.Header-Container {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Background Image Styles */
.Background-Img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0; /* Place the image behind the text content */
}

/* Text Container Styles */
.Text-Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* First Text Styles */
.First-Text h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

/* Second Text Styles */
.Second-Text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 80px;
  margin: 0;
  padding: 0;
}

.Second-Text h3 span {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 80px;
  -webkit-text-stroke: 1px darkred;
  color: red;
  margin: 0;
  padding: 0;
}

/* Third Text Styles */
.Third-Text h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
}

/* Join Button Styles */
.Join-Btn button {
  font-weight: 700;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

/* Join Button Hover Effect */
.Join-Btn button:hover {
  color: white;
  background-color: rgb(162, 1, 1);
  border: 1px solid white;
}